<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>FAQ - Самоуничтожающаяся записка</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-light">

<div class="container mt-5">
    <div class="card shadow-sm mx-auto" style="max-width: 800px;">
        <div class="card-body">
            <h1>Политика конфиденциальности<small class="text-body-secondary"> [Privacy Policy]</small></h1>
            <p style="padding-top: 60px; font-size: 64px; text-align: center">Тут будет политика конфиденциальности</p>
        </div>
    </div>
    <div class="d-flex justify-content-center" style="padding-top: 20px">
        <a href="/" class="btn btn-secondary">Вернуться обратно</a>
    </div>
</div>
</body>
</html>